
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <style>
        body {
            background-image: url('../../images/harvard-university-wallpaper-26.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>

    <h2>Welcome To VIT University </h2>

    

</body>
</html>